In [3]:
import pandas as pd
import pandas.io.sql as pd_sql
import sqlite3 as sql

### Test Round

In [4]:
mydf = pd.DataFrame({'TestData': [1, 2, 3, 4, 5, 6, 7, 8, 9], 'TestData2': ['a', 'b','c','d','e','f','g','h','i']})

In [5]:
#create sql_master table
con = sql.connect("nlt_test.db")
c = con.cursor()
mydf = pd.DataFrame({'TestData': [1, 2, 3, 4, 5, 6, 7, 8, 9], 'TestData2': ['a', 'b','c','d','e','f','g','h','i']})
mydf.to_sql('my_df', con, if_exists='replace')
#my_df is the name of the table within the database

con.close()

In [6]:
my_df2 = pd.DataFrame({'TestData': ['new1'], 'TestData2': ['new2']})

In [7]:
def update_database_test(df, upload_filename):
    """This adds a new table into the database with the name = upload_filename, and also updates the master table"""
    if df is not None:
        con = sql.connect("nlt_test.db")
        c = con.cursor()
        #add df into sqlite database as table
        df.to_sql(upload_filename, con, if_exists="replace")
        #add upload data filename in sql_master table
        c.execute('''INSERT INTO my_df('TestData', 'TestData2') 
                     VALUES ('%s', 'Yes')
                  ''' % upload_filename)
        #the above part updates the master table in the data frame
        con.commit()
        con.close()
        #display table in layout
        return df.to_dict('records')
    else:
        return [{}]

In [8]:
update_database_test(my_df2, 'NLT_test2')

[{'TestData': 'new1', 'TestData2': 'new2'}]

### Set up the type of database we would want

In [13]:
#create sql_master table - this is only ran once 
con = sql.connect("nlt_test2.db")
c = con.cursor()
mydf = pd.DataFrame({'Dataset_Name': ['example'], 
                     'Raw_Data_Prefix': ['CS2_33_8_17_10'], 
                     'Cleaned_Data_Prefix':['CS2_33_8_17_10CleanSet'], 
                     'Cleaned_Cycles_Prefix': ['CS2_33_8_17_10-Cycle'],
                     'User_Description': ['example data CS2']})
mydf.to_sql('master_table', con, if_exists='replace')
#my_df is the name of the table within the database

con.close()

In [51]:
my_update_dic ={'Dataset_Name': 'example2', 
                     'Raw_Data_Prefix': 'test', 
                     'Cleaned_Data_Prefix': 'testCleanSet', 
                     'Cleaned_Cycles_Prefix': 'test-Cycle',
                     'User_Description': 'my test battery'}

In [52]:
my_update_dic['Dataset_Name']

'example2'

In [57]:
def update_master_table_test2(update_dic):
    """This updates the master table in the database based off of the information in the update dictionary"""
    if update_dic is not None:
        con = sql.connect("nlt_test2.db")
        c = con.cursor()
        #add upload data filename in sql_master table
        c.execute('''INSERT INTO master_table('Dataset_Name', 'Raw_Data_Prefix','Cleaned_Data_Prefix', 'Cleaned_Cycles_Prefix', 'User_Description') 
                     VALUES ('%s', '%s', '%s', '%s', '%s')
                  ''' % (update_dic['Dataset_Name'], update_dic['Raw_Data_Prefix'], update_dic['Cleaned_Data_Prefix'], update_dic['Cleaned_Cycles_Prefix'], update_dic['User_Description']))
        #the above part updates the master table in the data frame
        con.commit()
        con.close()
        #display table in layout
        return 
    else:
        return [{}]

In [59]:
update_master_table_test2(my_update_dic)

In [62]:
def update_database_newtable(df, upload_filename):

    #add df into sqlite database as table
    con = sql.connect("nlt_test2.db")
    c = con.cursor()
    df.to_sql(upload_filename, con, if_exists="replace")
    return

In [68]:
test_df = pd.read_excel('../chachies/data/example_files/Raw_Data_Examples/CS2_33_10_04_10.xlsx', 1)

In [69]:
test_df.head()

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg)
0,1,30.000116,2010-09-27 14:12:48,30.000117,1,1,0.000000,3.451826,0.000000,0.0,0.000000,0.0,-0.000032,0.0,0,0,0
1,2,60.015409,2010-09-27 14:13:18,60.015410,1,1,0.000000,3.451826,0.000000,0.0,0.000000,0.0,0.000000,0.0,0,0,0
2,3,90.030676,2010-09-27 14:13:48,90.030677,1,1,0.000000,3.451988,0.000000,0.0,0.000000,0.0,0.000000,0.0,0,0,0
3,4,120.014848,2010-09-27 14:14:18,120.014848,1,1,0.000000,3.451826,0.000000,0.0,0.000000,0.0,-0.000032,0.0,0,0,0
4,5,150.030659,2010-09-27 14:14:48,30.015332,2,1,0.550025,3.584821,0.004585,0.0,0.016314,0.0,0.001264,0.0,0,0,0

In [70]:
update_database_newtable(test_df, 'CS2_33_10_04_10')