In [1]:
import pandas as pd
import pandas.io.sql as pd_sql
import sqlite3 as sql

### Set up a Database using SQLite

In [2]:
#create sql_master table
con = sql.connect("nlt_test_demo.db")
c = con.cursor()
mydf = pd.DataFrame({'Dataset_Name': ['example'], 
                     'Raw_Data_Prefix': ['ex1'], 
                     'Cleaned_Data_Prefix':['ex2'], 
                     'Cleaned_Cycles_Prefix': ['ex3'],
                     'User_Description': ['example data']})
mydf.to_sql('master_table', con, if_exists='replace')
con.close()

In [3]:
my_update_dic ={'Dataset_Name': 'example2', 
                     'Raw_Data_Prefix': 'test', 
                     'Cleaned_Data_Prefix': 'testCleanSet', 
                     'Cleaned_Cycles_Prefix': 'test-Cycle',
                     'User_Description': 'my test battery'}

In [4]:
def update_master_table(update_dic):
    """This updates the master table in the database based off of the information in the update dictionary"""
    if update_dic is not None:
        con = sql.connect("nlt_test_demo.db")
        c = con.cursor()
        #add upload data filename in sql_master table
        c.execute('''INSERT INTO master_table('Dataset_Name', 'Raw_Data_Prefix','Cleaned_Data_Prefix', 'Cleaned_Cycles_Prefix', 'User_Description') 
                     VALUES ('%s', '%s', '%s', '%s', '%s')
                  ''' % (update_dic['Dataset_Name'], update_dic['Raw_Data_Prefix'], update_dic['Cleaned_Data_Prefix'], update_dic['Cleaned_Cycles_Prefix'], update_dic['User_Description']))
        #the above part updates the master table in the data frame
        con.commit()
        con.close()
        return 
    else:
        return [{}]

In [5]:
update_master_table(my_update_dic)

### Add another table besides the master table into the database

In [6]:
def update_database_newtable(df, upload_filename):
    #add df into sqlite database as table
    con = sql.connect("nlt_test_demo.db")
    c = con.cursor()
    df.to_sql(upload_filename, con, if_exists="replace")
    return

In [7]:
df_to_add = pd.read_excel('data/example_files/Raw_Data_Examples/CS2_33_8_17_10.xlsx', 1)
df_to_add.head(3)

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg)
0,1,10.012627,2010-08-16 13:44:13,10.012628,1,1,0.0,3.379578,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0
1,2,20.028168,2010-08-16 13:44:23,20.028169,1,1,0.0,3.379416,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0
2,3,30.043209,2010-08-16 13:44:33,30.043209,1,1,0.0,3.379254,0.0,0.0,0.0,0.0,-0.000032,0.0,0,0,0

In [8]:
update_database_newtable(df_to_add, 'new_data_CS2')

In [9]:
con = sql.connect("nlt_test_demo.db")
c = con.cursor()
names_list = []
for row in c.execute("""SELECT name FROM sqlite_master WHERE type='table'""" ): 
    names_list.append(row[0])
name = 'new_data_CS2'
if name in names_list: 
    print('That file exists in the database')
else:
    print('That file does not exist in the database')
    
# populate dropdown list with this!

That file exists in the database

### Read a file from the database

In [10]:
con = sql.connect("nlt_test_demo.db")
df_from_database = pd.read_sql_query("SELECT * FROM new_data_CS2",con)
con.close()

In [11]:
df_from_database.head(3)

,index,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg)
0,0,1,10.012627,2010-08-16 13:44:13,10.012628,1,1,0.0,3.379578,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0
1,1,2,20.028168,2010-08-16 13:44:23,20.028169,1,1,0.0,3.379416,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0
2,2,3,30.043209,2010-08-16 13:44:33,30.043209,1,1,0.0,3.379254,0.0,0.0,0.0,0.0,-0.000032,0.0,0,0,0

### Other Stuff

In [ ]:
con=sql.connect("../chachies/nlt_test3.db")
all_df = pd.read_sql_query('SELECT name FROM sqlite_master WHERE type="table" AND name LIKE "7_8_13_1C_Cycle-CleanCycle%"', con)

In [ ]:
list(all_df['name'])

pd.read_sql_query( union_all sql union operator - union all allows distinct values)