In [1]:
import pandas as pd
import pandas.io.sql as pd_sql
import sqlite3 as sql

### Test Round

### Set up the type of database we would want

In [71]:
#create sql_master table - this is only ran once 
con = sql.connect("nlt_test2.db")
c = con.cursor()
mydf = pd.DataFrame({'Dataset_Name': ['example'], 
                     'Raw_Data_Prefix': ['CS2_33_8_17_10'], 
                     'Cleaned_Data_Prefix':['CS2_33_8_17_10CleanSet'], 
                     'Cleaned_Cycles_Prefix': ['CS2_33_8_17_10-Cycle'],
                     'User_Description': ['example data CS2']})
mydf.to_sql('master_table', con, if_exists='replace')
#my_df is the name of the table within the database

con.close()

In [72]:
my_update_dic ={'Dataset_Name': 'example2', 
                     'Raw_Data_Prefix': 'test', 
                     'Cleaned_Data_Prefix': 'testCleanSet', 
                     'Cleaned_Cycles_Prefix': 'test-Cycle',
                     'User_Description': 'my test battery'}

In [77]:
def update_master_table(update_dic):
    """This updates the master table in the database based off of the information in the update dictionary"""
    if update_dic is not None:
        con = sql.connect("nlt_test2.db")
        c = con.cursor()
        #add upload data filename in sql_master table
        c.execute('''INSERT INTO master_table('Dataset_Name', 'Raw_Data_Prefix','Cleaned_Data_Prefix', 'Cleaned_Cycles_Prefix', 'User_Description') 
                     VALUES ('%s', '%s', '%s', '%s', '%s')
                  ''' % (update_dic['Dataset_Name'], update_dic['Raw_Data_Prefix'], update_dic['Cleaned_Data_Prefix'], update_dic['Cleaned_Cycles_Prefix'], update_dic['User_Description']))
        #the above part updates the master table in the data frame
        con.commit()
        con.close()
        #display table in layout
        return 
    else:
        return [{}]

In [78]:
update_master_table_test2(my_update_dic)

In [79]:
def update_database_newtable(df, upload_filename):

    #add df into sqlite database as table
    con = sql.connect("nlt_test2.db")
    c = con.cursor()
    df.to_sql(upload_filename, con, if_exists="replace")
    return

In [25]:
con = sql.connect("../chachies/nlt_test3.db")
c = con.cursor()
names_list = []
for row in c.execute("""SELECT name FROM sqlite_master WHERE type='table'""" ): 
    #print(row[0])
    names_list.append(row[0])
#print(names_list)

name = '7_8_13_1C_CycleRaw'
if name in names_list: 
    print('donezdo')
else:
    print('we dont got that one')
    
# populate dropdown list with this!!!!!!!!

donezo

In [ ]:
pd.read_sql_table

pd.read_sql_query( union_all sql union operator - union all allows distinct values)

In [59]:
con = sql.connect("../chachies/nlt_test3.db")
#c = con.cursor()
#df.to_sql(upload_filename, con, if_exists="replace")
new_df = pd.read_sql_query("SELECT * FROM `7_8_13_1C_CycleRaw`",con)
con.close()

In [95]:
con=sql.connect("../chachies/nlt_test3.db")
all_df = pd.read_sql_query('SELECT name FROM sqlite_master WHERE type="table" AND name LIKE "7_8_13_1C_Cycle-CleanCycle%"', con)

In [98]:
all_df

                            name
0    7_8_13_1C_Cycle-CleanCycle1
1   7_8_13_1C_Cycle-CleanCycle10
2   7_8_13_1C_Cycle-CleanCycle11
3   7_8_13_1C_Cycle-CleanCycle12
4   7_8_13_1C_Cycle-CleanCycle13
5   7_8_13_1C_Cycle-CleanCycle14
6   7_8_13_1C_Cycle-CleanCycle15
7   7_8_13_1C_Cycle-CleanCycle16
8   7_8_13_1C_Cycle-CleanCycle17
9   7_8_13_1C_Cycle-CleanCycle18
10  7_8_13_1C_Cycle-CleanCycle19
11   7_8_13_1C_Cycle-CleanCycle2
12  7_8_13_1C_Cycle-CleanCycle20
13  7_8_13_1C_Cycle-CleanCycle21
14   7_8_13_1C_Cycle-CleanCycle3
15   7_8_13_1C_Cycle-CleanCycle4
16   7_8_13_1C_Cycle-CleanCycle5
17   7_8_13_1C_Cycle-CleanCycle6
18   7_8_13_1C_Cycle-CleanCycle7
19   7_8_13_1C_Cycle-CleanCycle8
20   7_8_13_1C_Cycle-CleanCycle9

In [97]:
concat_df = pd.read_sql_query('SELECT * FROM "7_8_13_1C_Cycle-CleanCycle1" UNION ALL SELECT * FROM "%s"', con) 
                            # %s is the table 
#SELECT expression1, expression2, ... expression_n
#FROM tables
#[WHERE conditions]
#UNION ALL
#SELECT expression1, expression2, ... expression_n
#FROM tables
#[WHERE conditions];

DatabaseError: Execution failed on sql 'SELECT * FROM tables WHERE sql_table_name LIKE "7_8_13_1C_Cycle-CleanCycle%"': no such table: tables

                            name
0    7_8_13_1C_Cycle-CleanCycle1
1   7_8_13_1C_Cycle-CleanCycle10
2   7_8_13_1C_Cycle-CleanCycle11
3   7_8_13_1C_Cycle-CleanCycle12
4   7_8_13_1C_Cycle-CleanCycle13
5   7_8_13_1C_Cycle-CleanCycle14
6   7_8_13_1C_Cycle-CleanCycle15
7   7_8_13_1C_Cycle-CleanCycle16
8   7_8_13_1C_Cycle-CleanCycle17
9   7_8_13_1C_Cycle-CleanCycle18
10  7_8_13_1C_Cycle-CleanCycle19
11   7_8_13_1C_Cycle-CleanCycle2
12  7_8_13_1C_Cycle-CleanCycle20
13  7_8_13_1C_Cycle-CleanCycle21
14   7_8_13_1C_Cycle-CleanCycle3
15   7_8_13_1C_Cycle-CleanCycle4
16   7_8_13_1C_Cycle-CleanCycle5
17   7_8_13_1C_Cycle-CleanCycle6
18   7_8_13_1C_Cycle-CleanCycle7
19   7_8_13_1C_Cycle-CleanCycle8
20   7_8_13_1C_Cycle-CleanCycle9