### This notebook's purpose is to get the CALCE data from MS Excel into a dictionary of dataframes!

### Goals: 
1. Get files from CALCE website into dataframe(s)

#### Imports:

In [142]:
import scipy.io
import os 
import pandas as pd
import zipfile
import requests
import xlrd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns
import statistics as stats
from math import isclose
from pathlib import Path
%matplotlib inline

Starting with CS2_33, in Excel format

# Robert: Added function to import all datasets in CS2_33 into dictionary

In [143]:
### Point this bad boy at a directory full of Excel spreadsheets. 
### For each spreadsheet in the directory, it will spit the 2nd sheet's data into a pandas dataframe. 
### These dataframes go into a dictionary, with each key named 
### after the original name of the .xlsx spreadsheet.

rootdir = Path('data')
# Return a list of regular files only, not directories
file_list = [f for f in rootdir.glob('**/*') if f.is_file()]
### Source: https://stackoverflow.com/questions/19587118/iterating-through-directories-with-python/19587581

d = {}
count = 0
for file in file_list:
    count += 1
    name = os.path.split(file)[1].split('.')[0] 
    data = pd.read_excel(file,1)
    new_set = {name : data}
    d.update(new_set)
    print(count, name)
### There are 23 files in the CS2 directory, so we should have 23 entries in the dictionary

1 CS2_33_10_04_10
2 CS2_33_10_05_10
3 CS2_33_10_15_10
4 CS2_33_10_26_10
5 CS2_33_11_01_10
6 CS2_33_11_10_10
7 CS2_33_11_19_10
8 CS2_33_11_24_10
9 CS2_33_12_08_10
10 CS2_33_12_16_10
11 CS2_33_12_23_10
12 CS2_33_1_10_11
13 CS2_33_1_18_11
14 CS2_33_1_24_11
15 CS2_33_1_28_11
16 CS2_33_2_2_11
17 CS2_33_8_17_10
18 CS2_33_8_18_10
19 CS2_33_8_19_10
20 CS2_33_8_30_10
21 CS2_33_9_17_10
22 CS2_33_9_27_10
23 CS2_33_9_7_10

In [144]:
type(d)
### d is a dictionary

dict

In [145]:
type(d['CS2_33_8_19_10'])
### but each of its entries are dataframes!

pandas.core.frame.DataFrame

In [146]:
d.keys()
###This can probably be improved somehow but it is going to be annoying sorting through all the entries regardless. 
###The datasets are labeled CS2_33_MM_DD_YY

dict_keys(['CS2_33_10_04_10', 'CS2_33_10_05_10', 'CS2_33_10_15_10', 'CS2_33_10_26_10', 'CS2_33_11_01_10', 'CS2_33_11_10_10', 'CS2_33_11_19_10', 'CS2_33_11_24_10', 'CS2_33_12_08_10', 'CS2_33_12_16_10', 'CS2_33_12_23_10', 'CS2_33_1_10_11', 'CS2_33_1_18_11', 'CS2_33_1_24_11', 'CS2_33_1_28_11', 'CS2_33_2_2_11', 'CS2_33_8_17_10', 'CS2_33_8_18_10', 'CS2_33_8_19_10', 'CS2_33_8_30_10', 'CS2_33_9_17_10', 'CS2_33_9_27_10', 'CS2_33_9_7_10'])

In [147]:
for i in d.keys():
    df = pd.DataFrame()
    print(len(d[i]))

### Just for fun

10759
2849
23212
22908
11025
22553
22174
13053
20451
19561
17142
15575
13595
9354
5441
2717
1476
516
516
25195
24216
24125
16121

In [148]:
d['CS2_33_8_19_10'].columns
### Also just for fun. We could probably delete some of these if we wanted to, in order to save space.

Index(['Data_Point', 'Test_Time(s)', 'Date_Time', 'Step_Time(s)', 'Step_Index',
       'Cycle_Index', 'Current(A)', 'Voltage(V)', 'Charge_Capacity(Ah)',
       'Discharge_Capacity(Ah)', 'Charge_Energy(Wh)', 'Discharge_Energy(Wh)',
       'dV/dt(V/s)', 'Internal_Resistance(Ohm)', 'Is_FC_Data',
       'AC_Impedance(Ohm)', 'ACI_Phase_Angle(Deg)'],
      dtype='object')

In [149]:
d['CS2_33_8_19_10'].shape
###JFF

(516, 17)

In [150]:
len(d['CS2_33_8_19_10'])
###JFF

516

In [151]:
d['CS2_33_8_19_10'].loc[0,('Step_Time(s)')]
###Can I reference specific locations? Yes I can

29.94886665072951

In [152]:
d['CS2_33_8_19_10'].head()
###Wowee looks good

,Data_Point,Test_Time(s),Date_Time,Step_Time(s),Step_Index,Cycle_Index,Current(A),Voltage(V),Charge_Capacity(Ah),Discharge_Capacity(Ah),Charge_Energy(Wh),Discharge_Energy(Wh),dV/dt(V/s),Internal_Resistance(Ohm),Is_FC_Data,AC_Impedance(Ohm),ACI_Phase_Angle(Deg)
0,1,30.011832,2010-08-18 10:59:06,29.948867,1,1,0.0,3.257598,0.0,0.0,0.0,0.0,-0.000032,0.0,0,0,0
1,2,60.027007,2010-08-18 10:59:36,59.964042,1,1,0.0,3.257760,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0
2,3,90.042195,2010-08-18 11:00:06,89.979230,1,1,0.0,3.257760,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0
3,4,120.057365,2010-08-18 11:00:36,119.994400,1,1,0.0,3.257760,0.0,0.0,0.0,0.0,0.000000,0.0,0,0,0
4,5,120.073031,2010-08-18 11:00:36,120.010066,1,1,0.0,3.257760,0.0,0.0,0.0,0.0,0.000032,0.0,0,0,0

In [153]:
d['CS2_33_8_19_10']['Cycle_Index'].max()
###This set only has 1 cycle

1